@model IEnumerable<bookstore1.Models.Book>
@{ 
    Layout = "~/Views/Shared/Dashboard.cshtml";
}
    <p>
        <input type="button" class="btn btn-primary cart" onclick="location.href='@Url.Action("Create", "Admin")'" value="Create New"></input>

    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cover)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.formatPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cover)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.formatPrice)
        </td>
        <td>
            <button class="btn btn-success" onclick="location.href='@Url.Action("Edit", "Admin", new { id= item.Id })'">
                Edit
            </button>
          
            <button class="btn btn-danger" style="margin-top: 10px;"onclick="location.href='@Url.Action("Delete", "Admin", new { id= item.Id })'">
                Delete
            </button>        </td>
    </tr>
}

</table>
